@font-face {
    font-family: 'PacificoRegular';
    src: url('fonts/Pacifico-webfont.eot');
    src: url('fonts/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Pacifico-webfont.woff') format('woff'),
         url('fonts/Pacifico-webfont.ttf') format('truetype'),
         url('fonts/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{background-color:#4A392F;font-size:10pt;font-family:arial;margin-right:23px;}
body.mceContentBody{background-color:white;}
p{margin:10pt 20pt;}
ul,ol,li{padding:0;margin:0;}
#page{width:765px;margin:0 5% 0 auto;}
	
#header{
	background:transparent url('images/chat.jpg') no-repeat scroll 0 0;
	height:295px;}
#header h1{display:none;}
#nav{width:15em;position:absolute;margin-left:-15em;margin-top:-150px;}
	#nav li{list-style:none;text-align:right;margin:8px 0;}
	#nav a{font: bold 1em Helvetica, Arial,"Luxi Sans", sans-serif; text-transform:uppercase;
	text-decoration:none;color:white;background-color:#d54e43;padding:2px 15px 2px 0.5em;}
	#nav  a:hover{background:#d54e43 url('images/des.png') center right no-repeat}
	#nav .current_page_item a, #nav .current-cat a{background-color:#FEC502;color:#4a392f;}
	#nav .current_page_item a:hover, #nav .current-cat a:hover{background:#FEC502 url('images/des.png') center right no-repeat}
	#nav .current_page_item{}
	
#nav .rubriques {
    margin-top: 15px;
}

#nav .rubriques h2{
    background-color: white;
    color: #4A392F;
    font-size: 1em;
    margin: 0;
    padding: 2px 15px 2px 0.5em;
    text-transform: uppercase;
}

#nav .gauche {
    background-color:#6b3f31;
    color: white;
    padding: 1px 10px;
    border-radius: 20px 0 0 0;
    margin-top: 50px;
    min-height: 210px;
}

#nav .gauche p {
    margin: 10pt 0;
}

#nav .gauche #s2email {
    width: 100%;
    font-size: small;
}

#nav .gauche input[type="submit"]{
    background-color: #D54E43;
    color: white;
    font: bold 1em Helvetica,Arial,"Luxi Sans",sans-serif;
    padding: 2px 15px 2px 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}

#nav .gauche input[type="submit"]:hover{
    background:#d54e43 url('images/des.png') center right no-repeat
}
	
#content{background-color:white;min-height:12em;}
	#texte{float:left;width:74%;margin:1em 0 1em 1em;color:#4a392f;}
        #texte ul{margin:1em 0;padding:0 3em}
        #texte fieldset {border:none; margin:0; padding:0}
        #texte form {margin:10pt 20pt;}
		#texte h2{margin:10pt 20pt; font-weight:bold; font-size: 2em}
		#texte a{color:#d54e43;}
		#texte a img{border:none}
		#texte a.permalien{text-decoration: none; color: #4a392f;}
		#texte .aligncenter{display: block; margin: 0 auto; text-align: center;}
		#texte .article:after{content:''; display:block; width: 45px; height: 15px; background: url("images/des.png") repeat scroll 0 0 transparent; margin: 2em auto;}
		#texte .alignleft{float:left;}
		#texte .alignright{float:right;}
		
		
	#sidebar{
	    float:right;text-align:center;
	    width:20%;
	}
	
	#sidebar #cal{
	    background-color:FireBrick;
	    color:white;
	}
	
	#sidebar .ardoise{
	    background: url(images/ardoise.png) no-repeat center center;
	    color: white;
	    height: 184px;
	    width: 125px;
        padding: 14px;
        margin-top: 30px;
	}
	
	#sidebar .ardoise .widgettitle{
	    margin: 0;
	    font-size: 28px;
	}
	
	#sidebar .ardoise .textwidget{
	    font-size: 17px;
	    font-family: 'PacificoRegular', serif;
	}
	
	hr#end-content {
	    clear:both;visibility:hidden;margin:0;
	}
#footer{text-align:center;background-color:white;padding-bottom:3px;}
	#footer ul{padding:0}
	#footer li {display:inline;list-style:none;padding: 0 0.1em;}
	#footer a {color:#4a392f;font-size:0.8em;font-weight:bold;text-decoration:none;
	  border-right:2px solid #D54E43;padding-right:5px;}
	#footer li:last-child a {border:none;padding:0}
	
	
/* override pluginloader style */
textarea.plugininputmax {
  height:160px;
}

#cal .vevent{font-family:comic Sans MS;}
html\:abbr span{
  display:block;
  font-size:18pt;
  font-weight:bold;
}
#cal .dtstart span{
  display:block;
  font-size:18pt;
  font-weight:bold;
}
#cal span.daynum{
  font-size:45pt;
  line-height:35pt;
}
#cal .content{font-size:7pt;}
#cal #hcal {
  background:green url("microformat_hcalendar.png") no-repeat;
  text-indent:-5000px;
  display:block;
  width:15px;
  float:right;
}
#cal a.location{
  color:#FEC502;
  font-family:Helvetica;
  font-weight:bold;
  text-decoration:none;
  font-size:14pt;
}
#cal a.location:hover{
  text-decoration:underline;
}

ol.vcalendar{
  list-style:disc;
  padding:0 3em;
}

ol.vcalendar li{
  margin: 0.5em 0;
}

ol.vcalendar .title{
  display:none;
}

ol.vcalendar .content{
  font-size:9pt;
  font-style:italic;
  padding-left:10pt;
}
ol.vcalendar .dtstart{
  font-size:11pt;
  font-weight:bold;
}

ol.ludo{
  margin:0 auto;
  width:480px;
}
ol.ludo li{
  float:left;
  text-align:center;
  width:120px;
  list-style:none;
  height:120px;
  overflow:hidden;
   padding:5px 0;
}

ol.ludo span.nom{
  display:block;
  height:3ex;
}

ol.ludo img{
  border:none;
}

.credits{
  clear:both;
  float:none;
  text-align:right;
}

.ficheJeu p{
    text-align: justify;
    clear: both;
}
.ficheJeu dl{
  float:left;
  font-family:Tahoma;
  margin-left:30px;
}
.ficheJeu img{
  float:right;
  margin: 1em 0;
}
.ficheJeu dt{
  color:FireBrick;
  font-weight:bold;
  text-transform:capitalize;
  float:left;
  clear:left;
}
.ficheJeu dd{
  float:left;
  margin-left:1em;
}
.ficheJeu a.back{
  clear:both;
  display:block;
  float:none;
}
